@import "tailwindcss";
@theme {
  --color-darkgrey: #222831;
  --color-grey: #31363f;
  --color-mattegreen: #76abae;
}

* {
  color: #ededed;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

html{
    scroll-padding: 4em;
    background: #31363f;
}

.page{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:80%;
}

#aboutmepic img{
  height: 95vh;
  mask-image: linear-gradient(to right, black 70%, transparent 100%);
}
footer{
    display: flex;
    padding: 2em;
}

.ending{
    margin: auto;
}